html {
  hyphens: auto;
  font-family: 'Montserrat', sans-serif;

}
header {
  background-color: inherit;
  position: fixed;
}

.intro {
  height: 100vh;
  background-image: url(assets/images/bg.svg);
  background-repeat: no-repeat;
  background-size: cover;
}

p {
  font-family: 'Montserrat', sans-serif;
}

h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 48px;
  line-height: 58px;
  font-weight: 800;
  color: #F0F0F0;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 36px;
  line-height: 40px;
  font-weight: 600;
  background-color: #E0E0E0;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  font-size: 24px;
  line-height: 36px;
  font-weight: normal;
  background-color: #C0CBD9;
}

button {
  font-family: 'Montserrat', sans-serif;
  font-size: 48px;
  width: 186px;
  height: 50px;
  background-color: #F9C66F;
  border-radius: 8px;
}
