@font-face {
    font-family: 'Avenir Next Cyr';
    src: url('assets/fonts/AvenirNextCyr-Regular.woff2') format('woff2'),
        url('assets/fonts/AvenirNextCyr-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Avenir Next Cyr';
    src: url('assets/fonts/AvenirNextCyr-Medium.woff2') format('woff2'),
        url('assets/fonts/AvenirNextCyr-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Avenir Next Cyr';
    src: url('assets/fonts/AvenirNextCyr-Bold.woff2') format('woff2'),
        url('assets/fonts/AvenirNextCyr-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Avenir Next Cyr';
    src: url('assets/fonts/AvenirNextCyr-Light.woff2') format('woff2'),
        url('assets/fonts/AvenirNextCyr-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

html {
  hyphens: auto;
  font-family: 'Avenir Next Cyr', sans-serif;

}
header {
  background-color: inherit;
  position: fixed;
}

p {
  font-family: 'Avenir Next Cyr', sans-serif;
}

h1 {
  font-family: 'Avenir Next Cyr', sans-serif;
  font-size: 48px;
  line-height: 58px;
  font-weight: bold;
  color: #F0F0F0;
}

h2 {
  font-family: 'Avenir Next Cyr', sans-serif;
  font-size: 38px;
  line-height: 40px;
  font-weight: bold;
  color: #E0E0E0;
}

h3 {
  font-family: 'Avenir Next Cyr', sans-serif;
  font-size: 24px;
  line-height: 36px;
  font-weight: 300;
  color: #C0CBD9;
}

h4 {
  font-family: 'Avenir Next Cyr', sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 300;
  color: #C0CBD9;
}

.button {
  font-family: 'Avenir Next Cyr', sans-serif;
  font-size: 16px;
  font-weight: normal;
  line-height: 26px;
  width: 140px;
  height: 44px;
  border-radius: 8px;
  background-color: none;
  border: solid 1px #F9C66F;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-menu {
  font-family: 'Avenir Next Cyr', sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 300;
  color: #ECECEC;
  margin-top: 16px;
  margin-left: 325px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.header {
  width: 1440px;
  height: 68px;
  padding-left: 100px;
  padding-right: 100px;
}

.intro {
  height: 100vh;
  background-image: url(assets/images/bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.second-part {
  height: 100vh;
  background-color: #090C12;
}

.third-part {
  height: 100vh;
  background-color: #090C12;
}

.fourth-part {
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 120px;
  width: 1440px;
  padding-top: 42px;
  padding-bottom: 42px;
  background-color: #071122;
}

.menu {
  height: 36px;
  width: 725px;
  display: flex;
  justify-content: center;
  padding-left: 358px;
  padding-right: 358px;
}
